.map-container {
    height: 400px;
}

.sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.image-marker {
    background-size: cover;
    height: 50px;
    /*border-radius: 50%;*/
    cursor: pointer;
}

.image-text {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 2px 4px;
}

.navigate-button .image-marker .image-text{
    width: 80px;
}

.marker {
    background-image: url('../public/icons/_city.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: black 1px solid;
}
